.benefits {
  padding: 0 25px;
  margin: 0 0 146px 0;

  @media (max-width: 1023px) {
    padding: 0;
    margin: -40px 0 107px 0;
  }

  @media (max-width: 767px) {
    margin: -75px 0 50px 0;
  }
}

.benefits__wrapper {
  max-width: 1220px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  column-gap: 1.4%;
  row-gap: 3%;

  @media (max-width: $vp-1440) {
    padding: 0 25px;
  }

  @media (max-width: 1023px) {
    grid-template-rows: 360px 360px;
    padding: 0 50px;
    column-gap: 2.4%;
    row-gap: 4%;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    column-gap: 0;
    row-gap: 30px;
  }
}

.benefits__item {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 40px 45px 78px 45px;
  box-sizing: border-box;
  min-height: auto;

  &:hover {
    border: 1px solid #00b2ff;
    background-color: #00b2ff;
  }

  &::before {
    position: absolute;
    content: "";
    background: #00b2ff;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
  }

  @media (max-width: 1023px) {
    padding: 37px 55px 35px 45px;

    &::before {
      height: 360px;
    }
  }

  @media (max-width: 767px) {
    padding: 30px 30px 35px 30px;
    min-height: 340px;

    &::before {
      height: 324px;
    }
  }

  h3 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    color: #00b2ff;
    margin: 0 0 10px 0;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  p {
    font-family: "PTMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    margin: 0;
    color: #041827;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.benefits__item--small {
  @media (max-width: 767px) {
    min-height: 325px;
  }

  h3 {
    @media (max-width: 1023px) {
      margin: 0 0 5px 0;
    }

    @media (max-width: 767px) {
      margin: 0 0 15px 0;
    }
  }
}

.benefits__icon {
  fill: #00b2ff;
  margin: 0 0 20px 0;

  @media (max-width: 1023px) {
    margin: 0 0 12px 0;
  }
}

.benefits__item:hover h3,
.benefits__item:hover p,
.benefits__item:hover .benefits__icon {
  color: #f2f5f7;
  fill: #f2f5f6;
}
