.footer {
  background-color: #041827;
}

.footer__wrapper {
  min-height: 280px;
  display: flex;
  padding: 51px 350px;
  margin: 0 auto;
  max-width: 1920px;

  @media (max-width: 1919px) {
    justify-content: center;
    padding: 55px 0;
    width: 100%;
  }

  @media (max-width: $vp-1440) {
    justify-content: space-evenly;
  }

  @media (max-width: 1023px) {
    min-height: 465px;
    padding: 55px 50px 65px 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    min-height: 475px;
    width: 100%;
    padding: 0;
    justify-content: center;
  }
}
