.footer {
  background-color: #041827;
}

.footer__wrapper {
  height: 280px;
  display: flex;
  padding: 55px 350px;
  margin: 0 auto;
  width: 1920px;

  @media (max-width: 1919px) {
    justify-content: center;
    padding: 55px 0;
    width: 100%;
  }

  @media (max-width: $vp-1440) {
    justify-content: space-evenly;
  }

  @media (max-width: 1023px) {
    height: 465px;
    padding: 55px 50px 65px 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    height: 475px;
    width: 100%;
    padding: 0;
    justify-content: center;
  }
}

.footer-accordion {
  display: flex;

  @media (max-width: 1023px) {
    width: 100%;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
}