.form {
  background-color: #00b3ff;
  position: relative;
  height: 840px;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/polygon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1265px;
    height: 950px;
    right: 48%;
    bottom: 0%;
  }

  @media (min-width: 2400px) {
    &::before {
      right: auto;
    }
  }

  @media (max-width: 1023px) {
    height: 580px;

    &::before {
      display: none;
    }
  }

  @media (max-width: 767px) {
    min-height: 750px;
  }
}

.form__wrapper {
  max-width: 1220px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 420px;
  align-items: center;
  column-gap: 118px;
  padding: 0 0 80px 0;

  @media (max-width: 1400px) {
    padding: 0 25px;
  }

  @media (max-width: 1023px) {
    min-width: 670px;
    column-gap: 0;
    min-height: 580px;
    padding: 50px 0 125px 0;
  }

  @media (max-width: 767px) {
    min-width: 270px;
    min-height: 750px;
    padding: 50px 0 85px 0;
  }
}

.form__wrapper img {
  z-index: 1;
  position: relative;

  @media (max-width: 1023px) {
    display: none;
  }
}

.form__content {
  max-width: 580px;
  width: 100%;
  min-height: 420px;
  z-index: 4;

  @media (max-width: 1023px) {
    min-width: 670px;
    min-height: auto;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    min-width: 270px;
    padding: 0 25px;
  }

  h3 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    margin: 0 0 15px 0;

    @media (max-width: 1023px) {
      margin: 0 0 5px 0;
    }

    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 140.62%;
    }
  }

  p {
    font-family: "PTMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 0 0 32px 0;

    @media (max-width: 1023px) {
      margin: 0 0 25px 0;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 134.4%;
      margin: 0 0 35px 0;
    }
  }
}


.form__block form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}


.form__input input {
  min-width: 275px;
  width: 100%;
  height: 50px;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: 0;
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px 0;

  &:hover,
  &:focus {
    outline: 1px solid #cccccc;
  }

  &::placeholder {
    color: #ffffff;
    padding: 15px 0 15px 15px;
  }

  @media (max-width: 1023px) {
    min-width: 320px;
  }

  @media (max-width: 767px) {
    min-width: 270px;
  }
}

.form__input--question {
  grid-column: 1 / 3;
  margin: 0 0 30px 0;

  @media (max-width: 767px) {
    margin: 0 0 25px 0;
  }
}

.form__input--question textarea {
  width: 100%;
  height: 155px;
  margin: 0;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: 0;
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  scrollbar-width: none;

  &:hover,
  &:focus {
    outline: 1px solid #cccccc;
  }

  &::placeholder {
    padding: 20px 0 90px 15px;
    color: #ffffff;
  }

  @media (max-width: 1023px) {
    height: 155px;

    &::placeholder {
      padding: 32px 0 0 15px;
    }
  }

  @media (max-width: 767px) {
    height: 180px;

    &::placeholder {
      padding: 24px 0 80px 13px;
    }
  }
}

.form__button {
  @media (max-width: 767px) {
    margin: 0 0 16px 0;
  }
}

.form__button button {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 265px;
  height: 45px;
  background: #041427;
  border-radius: 3px;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(4, 20, 39, 0.15);
    color: #041827;
  }

  @media (max-width: 1023px) {
    max-width: 265px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    width: 100%;
  }
}

.form__checkbox {
  display: flex;
  position: relative;
}

.form__checkbox input {
  width: 15px;
  height: 15px;
  top: 22px;
  left: 9px;
  appearance: none;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
  cursor: pointer;

  @media (max-width: 1023px) {
    top: 12px;
    left: -2px;
  }
}

.form__checkbox label {
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  padding: 15px 0 0 38px;
  cursor: pointer;

  @media (max-width: 1023px) {
    padding: 8px 0 0 25px;
  }

  @media (max-width: 767px) {
    padding: 8px 0 0 30px;
  }
}

.form__checkbox-mark {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  top: 23px;
  left: 12px;

  @media (max-width: 1023px) {
    top: 15px;
    left: 0;
  }

  @media (max-width: 767px) {
    left: 4px;
    top: 8px;
  }
}

.form__checkbox input:checked ~ .form__checkbox-mark::before {
  position: absolute;
  content: "";
  background: url("../../img/svg/vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 7px;
  height: 4px;
  top: 4px;
  right: 3px;
}

.form__checkbox label:hover ~ .form__checkbox-mark {
  outline: 1px solid #ffffff;
}

.form__checkbox input:hover ~ .form__checkbox-mark {
  outline: 1px solid #ffffff;
}
