.header {
  display: flex;
  align-items: center;
  min-height: 110px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;

  @media (max-width: 1919px) {
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  @media (max-width: $vp-1440) {
    justify-content: space-evenly;
  }

  @media (max-width: 1023px) {
    min-height: 100px;
    justify-content: space-between;
    padding: 0 65px 0 50px;
  }

  @media (max-width: 767px) {
    min-height: 70px;
    padding: 0 45px 0 26px;
  }
}

.header-wrapper {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 5;

  @media (min-width: $vp-1024) {
    top: 0;
    position: sticky;
  }
}

.header__logo-link {
  display: block;
  width: 215px;
  height: 55px;
  margin: 0 160px 0 0;

  @media (max-width: $vp-1440) {
    margin: 0;
  }

  @media (max-width: 767px) {
    height: 35px;
    width: 35px;
  }
}

.header__contacts {
  display: flex;
  margin: 0 163px 0 0;

  @media (max-width: $vp-1440) {
    margin: 0;
  }

  @media (max-width: 767px) {
    column-gap: 40px;
    padding: 5px 0 0 0;
  }
}

.header__contact {
  @media (max-width: 1023px) {
    display: none;
  }
}

.header__contact-wrapper {
  display: flex;
  align-items: center;
}

.header__contact-wrapper--email {
  display: flex;
  margin: 0 124px 0 0;

  @media (max-width: 1023px) {
    margin: 0 25px 0 0;
  }

  @media (max-width: 767px) {
    margin: 0;
  }
}

.header__contact-icon {
  margin: 0 15px 0 0;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.header__contact-link {
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #f2f5f7;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: auto;

  &:hover,
  &:focus {
    color: #00b2ff;
  }

  @media (max-width: 1023px) {
    height: 40px;
  }
}

.header__modal-open {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  background-color: transparent;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  padding: 10px 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #00b2ff;
    color: #041827;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}
