.location {
  padding: 10px 0 0 0;

  @media (max-width: 767px) {
    padding: 0;
  }
}

.location__title {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;

  @media (max-width: 767px) {
    display: none;
  }
}

.location__wrapper {
  @media (max-width: 767px) {
    padding: 0 0 0 25px;
  }
}

.location__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.location__address {
  margin: 0 0 7px 0;
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  line-height: 135%;
  font-size: 16px;

  @media (max-width: 767px) {
    font-size: 14px;
    margin: 0 0 19px 0;
  }
}

.location__item {
  &:not(:last-child) {
    margin: 0 0 5px 0;
  }
}

.location__tel {
  margin: 0;
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    color: #00b3ff;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.location__button {
  @media (max-width: 767px) {
    position: relative;
    border: 0;
    background: transparent;
    padding: 20px 25px;
    color: #ffffff;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 100%;
    text-align: start;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 15px;
      top: 27px;
      right: 30px;
      background: #c4c4c4;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 15px;
      top: 27px;
      right: 30px;
      background: #c4c4c4;
      transform: rotate(90deg);
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
