.promo {
  padding: 315px 0 293px 0;
  background-image: url("../img/promo-background.webp");
  background-repeat: no-repeat;
  background-color: #041827;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 119px;
  height: 100%;

  @media (max-width: 1023px) {
    background-image: url("../img/promo-background-tablet.webp");
    padding: 200px 0 221px 0;
  }

  @media (max-width: 767px) {
    background-image: url("../img/promo-background-mobile.webp");
    padding: 200px 0 187px 0;
  }
}

.promo__wrapper {
  max-width: 970px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1023px) {
    width: 670px;
  }

  @media (max-width: 767px) {
    min-width: 270px;
    margin: 0 auto;
    padding: 0 25px;
    width: 100%;
  }

  h1 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #f2f5f7;
    margin: 0 0 30px 0;
    max-width: 720px;

    @media (max-width: 1023px) {
      max-width: 670px;
      font-size: 64px;
      line-height: 75px;
      margin: 0;
    }

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 7px 0;
    }
  }

  p {
    font-family: "PTMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    color: #f2f5f7;
    max-width: 685px;
    margin: 0 0 63px 0;

    @media (max-width: 1023px) {
      width: 670px;
      font-size: 22px;
      line-height: 155%;
      margin: 0 0 72px 0;
    }

    @media (max-width: 767px) {
      width: 100%;
      font-size: 14px;
      line-height: 155%;
      margin: 0 0 42px 0;
    }
  }
}

.promo__button {
  width: 410px;
  padding: 15px 25px;
  background: #00b2ff;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;

  &:hover,
  &:active {
    background-color: #2a4e69;
  }

  @media (max-width: 1023px) {
    margin-left: 45px;
    width: 100%;
    min-width: 410px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.promo__button--alt {
  display: none;

  @media (max-width: 767px) {
    min-width: 270px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    width: 100%;
  }
}
