.sections {
  min-width: 422px;
  padding: 10px 0 0 0;
  margin: 0 60px 0 0;

  @media (max-width: $vp-1440) {
    margin: 0;
  }

  @media (max-width: 1023px) {
    min-width: auto;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.sections__title {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;

  @media (max-width: 767px) {
    display: none;
  }
}

.sections__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 220px 220px;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 7%;

  @media (max-width: 1023px) {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    column-gap: 0;
  }

  @media (max-width: 767px) {
    height: auto;
  }
}

.sections__item {
  max-width: 220px;

  &:nth-child(-n+4) {
    grid-column: 1/2;
  }

  &:nth-child(n+5) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &:nth-child(n+6) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &:nth-child(n+7) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  &:nth-child(n+8) {
    grid-column: auto;
    grid-row: auto;
  }

  &:not(:last-child) {
    margin: 0 0 5px 0;
  }
}

.sections__link {
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;

  &:hover {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    color: #00b3ff;
  }
}

.sections .is-active {
  padding: 0 0 25px 0;
}

.sections__wrapper {
  @media (max-width: 767px) {
    padding: 0 0 0 25px;
  }
}

.sections__button {
  @media (max-width: 767px) {
    position: relative;
    border: 0;
    background: transparent;
    padding: 20px 25px;
    color: #ffffff;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 100%;
    text-align: start;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 15px;
      top: 27px;
      right: 26px;
      background: #c4c4c4;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 15px;
      top: 27px;
      right: 26px;
      background: #c4c4c4;
      transform: rotate(90deg);
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.sections-accordion {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    width: 100%;
    justify-content: space-between;
    padding-right: 13px;
  }

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
}
