.service {
  background-color: #041827;
  padding: 70px 0 140px 0;

  @media (max-width: $vp-1440) {
    padding: 70px 50px 140px 50px;
  }

  @media (max-width: 1023px) {
    padding: 53px 0 75px 0;
  }

  @media (max-width: 767px) {
    padding: 50px 25px 85px 25px;
  }

  h2 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto 53px;

    @media (max-width: 1023px) {
      max-width: 670px;
      margin: 0 auto 36px;
    }

    @media (max-width: 767px) {
      display: none;
      max-width: 100%;
    }
  }

  p {
    display: none;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto 53px;

    @media (max-width: 767px) {
      display: block;
      max-width: 100%;
      font-size: 28px;
      line-height: 140%;
      margin: 0 auto 25px;
    }
  }
}

.service__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  column-gap: 85px;

  @media (max-width: 1023px) {
    max-width: 670px;
    flex-wrap: wrap;
    display: flex;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.service__item {
  max-width: 350px;
  width: 100%;
  min-height: 650px;
  position: relative;

  &:hover {
    box-shadow: 0 0 11px rgba(42, 78, 105, 0.9);
  }

  @media (max-width: 1023px) {
    max-width: 670px;
    min-height: 250px;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }

  h3 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
    padding: 50px 80px 0 40px;
    max-width: 280px;
    width: 100%;

    @media (max-width: 1023px) {
      padding: 40px 0 0 45px;
      max-width: 195px;
    }

    @media (max-width: 767px) {
      padding: 30px 0 0 30px;
      max-width: 165px;
      font-size: 18px;
    }
  }
}

.service__item--production {
  background-image: url("../img/card-background-1.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-1@2x.webp");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/card-background-1-tablet.webp");
  }

  @media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-1-tablet@2x.webp");
  }

  @media (max-width: 767px) {
    background-image: url("../img/card-background-1-mobile.webp");
  }

  @media (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-1-mobile@2x.webp");
  }
}

.service__item--install {
  background-image: url("../img/card-background-2.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-2@2x.webp");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/card-background-2-tablet.webp");
  }

  @media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-2-tablet@2x.webp");
  }

  @media (max-width: 767px) {
    background-image: url("../img/card-background-2-mobile.webp");
  }

  @media (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-2-mobile@2x.webp");
  }
}

.service__item--parts {
  background-image: url("../img/card-background-3.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-3@2x.webp");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/card-background-3-tablet.webp");
  }

  @media (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-3-tablet@2x.webp");
  }

  @media (max-width: 767px) {
    background-image: url("../img/card-background-3-mobile.webp");
  }

  @media (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../img/card-background-3-mobile@2x.webp");
  }
}

.service__arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #00b2ff;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.service__item:hover .service__arrow {
  background-color: #2a4e69;
}
